@{
    ViewData["Title"] = "Approved Article";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
    <link href="~/css/user/registration.css" rel="stylesheet" />

    <style>
        .k-header .k-link {
            text-align: center;
            font-weight: bold;
        }
    </style>

}

<section class="content-header">
    <div class="wrapper">
        <div class="row top-background">
        </div>
        <div class="card">
            <div class="card-body">
                <div id="ArticleGrid"></div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/js/approved.article.js"></script>
}

