@model AM.DM.Article.ArticleModel

@{
    ViewData["Title"] = "registration";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
    <link href="~/css/user/registration.css" rel="stylesheet" />
}
@using (Html.BeginForm("Create", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Article Upload</p>
            </div>

            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Article Title</label>
                            <input type="text" name="ArticleTitle" class="form-control" placeholder="Article Title" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Upload File</label>
                            <input type="file" name="File" class="form-control" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-form-label">Article Description</label>
                            <textarea name="ArticleDescription" rows="5" class="form-control" placeholder="Article Description"></textarea>
                        </div>
                    </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btnSubmit">Upload</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>

}


@Html.Raw(ViewBag.ServerResponseMessage)
