@model AM.DM.Article.ArticleModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
    <link href="~/css/user/registration.css" rel="stylesheet" />
}

    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Article Details</p>
            </div>

            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold">Article Title:</label>
                            <label>@Model?.ArticleTitle</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold">Uploaded File:</label>
                            <a href="~/Article/DownloadDocument?pArticleId=@Model.Id" class="text-primary">@Model?.FileName</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold">Article Description:</label>
                            <label>@Model?.ArticleDescription</label>
                        </div>
                    </div>
                </div>
        </div>
    </div>

