@model AM.DM.Article.ArticleModel

@{
    ViewData["Title"] = "Verify";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
    <link href="~/css/user/registration.css" rel="stylesheet" />
}
@using (Html.BeginForm("Create", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Article Upload</p>
            </div>

            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold">Article Title</label>
                            <label>@Model?.ArticleTitle</label>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold">Article Description</label>
                            <label>@Model?.ArticleDescription</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold">Upload File</label>
                            <a href="~/Article/DownloadDocument?pArticleId=@Model.Id" class="text-primary">@Model?.FileName</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="~/Article/ConfirmVerifyArticle?pArticleId=@Model.Id" class="btn btn-success">Verify</a>
                        <a href="~/Article/RejectArticle?pArticleId=@Model.Id" class="btn btn-danger">Reject</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@Html.Raw(TempData["SeverResponse"])

