<!DOCTYPE html>

<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Personal HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body style="overflow: visible;">
    <!-- Preloader Start -->
    <div id="preloader-active" style="display: none;">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header  header-sticky">

                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            @{
                                if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                            <li class="dropdown-item"><a href="~/Article/PendingArticles">Pending</a></li>
                                            <li class="dropdown-item"><a href="~/Article/GetAllApprovedArticle">Approved</a></li>
                                        </ul>
                                    </li>
                                }

                            }
                            <form class="form-inline mt-2 mt-md-0">

                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <a href="~/User/CreateProfessionalProfile" class="btn btn-outline-info my-2 my-sm-0">Professional Profile</a>
                                        <a href="~/User/Profile" class="btn btn-outline-info my-2 my-sm-0">Profile</a>
                                        <a href="~/User/Logout" class="btn btn-outline-info my-2 my-sm-0">LogOut</a>
                                    }
                                    else
                                    {
                                        <a href="~/Account/Login" class="btn btn-outline-info my-2 my-sm-0">Login</a>
                                    }

                                }
                            </form>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="../Static/GuideLinesMenuScripts">Journal Management</a></li>
                                            <li><a href="../Static/SubmitReview">Sumit Review</a></li>
                                            <li><a href="../Static/JSDReviewerInstruction">JGSC Reviewer Instruction</a></li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                            <li>
                                                <a href="#">Process</a>
                                                <ul class="submenu">
                                                    <li><a href="../Static/GuideLinesForAcceptedArticles">Guidelines for Accepted Articles</a></li>
                                                    <li><a href="../Static/ReplicationFilesandArticleVerificationProcess">Replication Files and Article Verification Process</a></li>
                                                    <li><a href="../Static/SectionsoftheManuscript">Sections of the Manuscript</a></li>
                                                    <li><a href="../Static/SubmissionProcessforFinalDraft">Submission Process for Final Draft</a></li>
                                                    <li><a href="../Static/EditorialBoard">Editorial Board</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-xl-block ml-20">
                                    <a href="#" class="btn header-btn">Get Free Consultent</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none">
                                <div class="slicknav_menu">
                                    <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                        <li><a href="index.html" role="menuitem" tabindex="-1">Home</a></li>
                                        <li><a href="about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="services.html" role="menuitem" tabindex="-1">Services</a></li>
                                        <li><a href="portfolio.html" role="menuitem" tabindex="-1">Portfolio</a></li>
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                                <a href="#" tabindex="-1">Page</a>
                                                <span class="slicknav_arrow">+</span>
                                            </a><ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                                <li><a href="blog.html" role="menuitem" tabindex="-1">Blog</a></li>
                                                <li><a href="blog_details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                                <li><a href="elements.html" role="menuitem" tabindex="-1">Element</a></li>
                                                <li><a href="portfolio_details.html" role="menuitem" tabindex="-1">Portfolio Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <!-- slider Area End-->
        <!-- About Area start -->
        <section class="about-area section-paddingt30">
            <div class="container">
                <div class="row ">

                    <div class="col-lg-10">

                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>



                    </div>

                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!-- Categories Area Start -->
        <!-- Categories Area End -->
        <!-- Services Area Start -->
        <!-- Services Area End -->
        <!-- Want To Work Start -->
        <!-- Want To Work End -->
        <!-- client-comments -->
        <!-- Brand Area Start -->
        <!-- Brand Area End -->
        <!-- Contact Info Start -->
        <!-- Contact Info End -->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">

                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright ©
                                    <script>document.write(new Date().getFullYear());</script>2020 All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a>Stay Connected</a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" style="display: none;">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>



    @*own code*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js"></script>

    <script src="@Url.Content("~/grid/kendo/kendo/jszip.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/grid/kendo-ui-2018/kendo.all.min.js")" type="text/javascript" charset="utf-8"></script>

    <script>
        var baseurl = "https://localhost:44336/";
    </script>

    @RenderSection("Scripts", required: false)
    <!--End of own code -->
    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->

    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/animated.headline.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>


</body>



</html>