@model AM.DM.Article.ArticleModel

@{
    ViewData["Title"] = "Home Page";
}


@{
    foreach (var item in TempData["ApprovedArticle"] as List<AM.DM.Article.ArticleModel>)
    {
        <div class="card shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 20px">
            <h5 class="card-header h5">@item.ArticleTitle</h5>
            <div class="card-body">
                <h5 class="card-title">Publishedd On: @item.DateCreated</h5>
                <p class="card-text"> @item.ArticleDescription</p>
                <a href="~/Article/Details?pArticleId=@item.Id" class="btn btn-primary float-right">Details</a>
            </div>
        </div>

    }
}


