@model AM.DM.User.UserInformationModel

@{
    ViewData["Title"] = "Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/user/registration.css" rel="stylesheet" />
}
@using (Html.BeginForm("ForgetPassword", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="container register-form col-md-6">
        <div class="form">
            <div class="note">
                <p>Password Reset</p>
            </div>

            <div class="form-content">

               <div class="row">
                    <div class="col-md-12 text-center">
                        <label> Enter your email to receive verification code.</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="email" required name="Email" class="form-control" placeholder="Email *" value="" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 text-center text-danger">
                        <label> @Html.Raw(TempData["SeverResponse"])</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btnSubmit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



