
@{
    ViewData["Title"] = "EditorialBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div{
       align-content:center;
    }
</style>
<h1>Editorial Board</h1>
<div>
    <div>
        Editorial Board
        EDITOR in CHIEF
        Habib Zafarullah, Adjunct professor of Sociology, University of New England (UNE), Australia
        MANAGING EDITOR
        Zillur Rahman, Anchor, Channel i, Executive Director, Centre for Governance Studies
    </div>
    Member:
    <div>
        Ali Riaz, Illinois State University, USA
        Ahmed Shafiqul Huque, Professor, University of British Columbia
        Akhlaque Haque, University of Alabama, USA
        AKM Matiul Alam, University of British Columbia, Canada
        Fahmida Khatun, Centre for Policy Dialogue (CPD) Bangladesh
        M. Adil Khan, Honourary Professor University of Queensland, Australia
        Naomi Hossain, political sociologist, American University in Washington DC
        Paula Banerjee, Vice Chancellor, Sanskrit College and University, Kolkata
        S Akbar Zaidi
        Saira Khan, International Security Expert GersonLehrman Group, New York
        Editorial board display
    </div>

                           <div style="margin-left:20px;">
                               <img src="~/Images/Editorial.bmp" /> 

                               Habib Zafarullah
                               Adjunct professor of Sociology, University of New England (UNE), Australia


                               If click to this person image then his profile will shown
                           </div>
</div>

