
@{
    ViewData["Title"] = "GuideLinesMenuScripts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Guide Lines Menu Scripts</h1>

<div>
    The Journal of Government Security and Development (JGSD) seeks manuscripts that make outstanding contributions to scholarly knowledge about notable theoretical concerns, empirical issues, or methodological strategies in any subfield of political science. Manuscripts submitted for review should address an important research problem or question, display a high level of creativity or innovation in research, contribute in a novel way to a body of knowledge, and also (as appropriate) demonstrate state-of-the-art use of appropriate methodology
    The Journal of Government Security and Development (JGSD) does not review manuscripts that:
    	Do not contain original arguments or analyses;
    	Are not analytically rigorous, of high quality, and self-contained;
    	Do not have appropriate Institutional Review Board approval for studies involving human subjects;
    	Are unsolicited responses to recently published articles;
    	Are book reviews or essays on current events;
    	Are simultaneously under review elsewhere;
    	Contain material that has already been published elsewhere (without appropriate citation or acknowledgment);
    	Fail to comply with the substantive, stylistic, formatting, and anonymity requirements described above;
    	Have been reviewed previously at the JGSD
    Articles are selected for publication in the JGSD on the basis of a double-blind review process. Authors and co-authors of submissions to the JGSD are expected to review manuscripts for the Journal. The JGSD Editor reserves the right to refuse submissions from authors who repeatedly fail to provide reviews for the Journal when invited to do so.
    The Editors of the Journal of Government Security and Development (JGSD) seek to provide constructive and informative manuscript reviews that provide authors with useful information regardless of the ultimate editorial decision. We are also committed to providing authors with efficient and timely turnaround when processing submitted manuscripts. But the speed of the process is directly affected by the timeliness of referee responses. Accordingly, it may take several months to complete the review of a manuscript. Note also that all reviews are advisory to the JGSD Editor, who is solely responsible for publication decisions. Editorial decisions are final on all manuscripts. No appeals are accepted, with the exception of specific points of procedural errors in the review process.


</div>