
@{
    ViewData["Title"] = "JSDReviewerInstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";}

<h1>JSDReviewerInstruction</h1>

<div>

    JGSD  requests that reviews address the following points about the merits of the manuscript in as long of a review that the reviewer chooses to provide (although a 1-1.5 page length is typical). The points include, but are not limited, to:
    <div>
        	The extent to which the manuscript addresses an interesting and important research problem or question.
        	The extent to which the manuscript demonstrates high quality theorizing and/or state-of-the-art methodological use.
        	The amount of creativity or innovation of the research informing the manuscript.
        	The extent to which the manuscript engages the relevant research literature and substantially contributes to the accumulation of knowledge.
        	The degree to which the manuscript effectively and informatively communicates its contribution to a sophisticated general political science audience.
        At the end of a review please provide an overall recommendation as follows:
        	Must publish as is.
        	Must publish with minor revisions. This recommendation should include a brief description of a small number of particular “doable” revisions stated in the review.
        	Revise and resubmit. This recommendation must include a statement of specific improvements that would be required for publication, but that require “more than minor” 
        changes to theory, methods or presentation. It should be made only when the research and manuscript fundamentals are sound (e.g., the theory, models, and hypotheses are 
        strong, the dataset is complete, and the literature is consulted) and when successful revisions have the potential to produce a paper that makes a contribution suitable
        for the JGSD . This recommendation should only be made when the required revisions are viewed as highly likely to be successful with a reasonable amount of time.
        	Decline to publish. This recommendation should be supported by reference to basic limitations in the theory, argument, research design, data and empirical analysis 
        (where appropriate). It might reflect the belief that even substantial revisions could fail to address these concerns, or that even with successful revisions,
        the paper would not make the type of contribution that the reviewer expects of papers published in the JGSD . Specific criticisms, provided in a constructive manner, 
        are especially important in these reviews.

    </div>
    <div>
        Please note that reviews are advisory to the editorial team, with final decisions on manuscripts reflecting the entire review panel’s recommendations as well as the editors’ own evaluation of the manuscript.
        Reviews should be submitted as an anonymous file or inserted into a text box through Editorial Manager preferably no later than 30 days from receipt of the review request. An individual should not review if
        s/he was an author’s doctoral dissertation supervisor, has been a co-author of an author in the past 5 years, is a colleague in an author’s department or comparable academic unit, or has a family or other 
        personal relationship with an author. In addition, individuals who have reviewed the manuscript for another journal are not automatically disqualified as a reviewer for the JGSD . If you are unable to review,
        please recommend 1-3 other qualified reviewers. Questions or recommendations can be sent to JGSD @*@mpsanet.org.*@

    </div>
</div>