
@{
    ViewData["Title"] = "ReplicationFilesandArticleVerificationProcess";
    Layout = "~/Views/Shared/_Layout.cshtml";}

<h1>Replication Files and Article Verification Process</h1>

<div>

    The author of an accepted manuscript must provide replication materials that are sufficient to enable interested researchers to reproduce all of the 
    analytic results that are reported in the text and supporting materials. The document titled “Journal of Government Security and Development (JGSD)  
    Guidelines for Preparing Replication Files” provides useful information about what information is needed and how it should be organized. All replication 
    files must be stored in a Dataset within the JGSD  Dataverse, located on the Harvard Dataverse Network. The document titled “Journal of Government 
    Security and Development (JGSD)  Quick Reference for Uploading Replication Files” provides information about creating a Dataset on the JGSD  Dataverse
    and depositing materials into it. Note that authors also can make their replication files available elsewhere (e.g., their personal website, other data 
    repositories, etc.) as long as all of the necessary files are included in the Dataset on the JGSD  Dataverse.
   
    The author should prepare and upload replication materials before submitting the final draft of the accepted manuscript. The “Journal
    of Government Security and Development (JGSD)  Data Verification Checklist” is designed to help authors ensure that they have provided all necessary 
    files. When the final draft is submitted, the replication materials will be verified to confirm that they do, in fact, reproduce the analytic results
    reported in the article. The verification process is carried out by the Archive Staff at the XXXXXXXX, at the University of XXXXXX. Immediately after
    successful verification, the Odum staff will release the Dataset for public access and the JGSD  Editorial Staff will forward the final draft of the 
    manuscript to the publisher for copyediting, production, and publication.



</div>