
@{
    ViewData["Title"] = "SubmissionProcessforFinalDraft";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SubmissionProcessforFinalDraft</h1>
<div>
    Prior to submitting the final draft of your paper on Editorial Manager, please re-run the code for your analyses that you will be posting to Dataverse.  If it is possible, please use a different
    computer from the one on which you originally conducted your analyses.  Once you have completed this step, please send the output, the log file, and a description of your computing environment to
    Julia Salvatore at JGSD @*@JGSD .org.*@  We appreciate that this takes time and effort; however, spending the additional time preparing verification materials at the outset can greatly reduce the
    amount of time it takes a manuscript to complete the verification process.
    <div>
        Once you have completed this step, please submit the final version of your manuscript online through Editorial Manager. Note that it will appear in the system as a revised version of the paper.
        After the verification process is completed and the Editor approves the final version of the manuscript, the JGSD  Editorial Staff will transmit the relevant files to Wiley and to the JGSD  Copy
        Editor, Irwin Zucker (izucker@wiley.com). He will manage your article through the production process.
    </div>

    <div>
        Your article cannot be published until Wiley has received the appropriate signed license agreement. A few days after the replication files have been verified, you (as the corresponding author for this manuscript) will receive an email from Wiley’s Author Services system asking you to log in and complete the appropriate license.
        The corresponding author will receive the page proofs of the article in PDF format from Wiley. S/he has 48 hours to review the proofs and return any corrections that must be made to the proofreader. Corrections should be limited to copy editing errors only; this is not an opportunity to make major revisions to the manuscript. The proofreader will make sure that all changes from the first-stage proofs were made by the compositor. The second set of proofs is not sent to the contact author.
        Authors can track accepted articles through production by registering for Author Services at the Wiley Online Library.
    </div>
</div>