
@{
    ViewData["Title"] = "SubmitReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Submit Review</h1>
<div>
    Before submitting your review, please pay attention to the points noted below:
    •
    	First, thank you for reviewing! Your review will be helpful for guiding our decisions. We appreciate the time and effort you put into your review.
    	Second, please check the review guidelines if you are uncertain about the contents of a review.
    	Third, reviews are submitted through Editorial Manager. You will need a user name and password for access. This information is in the email sent to you concerning the manuscript. Remember, you can change your user profile in Editorial Manager at any time to set a more convenient name and password.
    	Finally, if you have any questions, please do not hesitate to contact us. Again, thank you for reviewing for JGSD .

</div>